
    <h1 class="page-header">{{player.nick}}: {{player.name}}</h1>

    <div class="row">
    <div class="col-xs-4 col-lg-4" ng-repeat="deck in player.decks">
        <div class="thumbnail">
            <img src="img/classes/{{deck.deckClass}}.jpg">
            <div class="caption">
                <h2>{{deck.deckClass}}</h2>

                <div class="btn-group" role="group" aria-label="...">
                    <!-- <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete">Remove</button> -->
                    <a href="#/edit/{{player._id}}/{{deck._id}}" class="btn btn-success" role="button">Edit &raquo;</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row"></div>
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-success">View all decks for {{player.nick}}</button>
        <div class="btn-group" role="group">
          <button class="btn btn-default dropdown-toggle" type="button" id="addDeck" data-toggle="dropdown" aria-expanded="true">
            ADD NEW DECK
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="addDeck">
            <li role="presentation" ng-repeat="deck in player.decks| exclude ">
                <a role="menuitem" tabindex="-1" ng-click="addDeck(deck)">{{deck}}</a>
            </li>
          </ul>
        </div>
    </div>

